<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<div class="panel panel-default">
  <% if @room.messages.any? %>
    <div class="panel-body" id="messages" data-room-id="<%= @room.id %>">
      <%= render partial: 'messages/message', collection: @room.messages%>
    </div>
  <%else%>
    <div class="panel-body hidden" id="messages">
    </div>
  <%end%>
</div>


  <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @room}%>
</div>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
