<!DOCTYPE html>
<html>
  <head>
    <title>ActioncableTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% unless session[:user].blank? %>
  
	  <div>
		  Signed in as <%=session[:user]["username"]%>
	  </div>

	  <div style="float:left">
	  	<a href="/logout">Logout</a>
	  </div>
  <%end%>
  <br><br><br>
    <%= yield %>
  </body>
</html>
